-var aboutDesc = ["Обирайте будинок", "Підбирайте квартиру"];
section.ideas.ideas-about
	.container
		p.ideas__sub-title Все це для того, щоб ви могли сказати три простих слова
			br
			| «Ласкаво просимо додому»!
		.row.ideas__block
			-for(var i = 0; i < 2; i++)
				.ideas__item
					a.ideas__item-link(href="#")
						img.ideas__item-img(src="img/about-home/ideas-" + (i + 4) + ".png")
						.ideas__item-descript
							p=aboutDesc[i]