input[type="submit"].submit{
  width: 230px;
  height: 40px;
  border-radius: 4px;
  background: color('red',1);
  color: #ffffff;
  text-align: center;
  transition: $transition-time;
  &:hover{
    opacity: .8;
  }
}