.news-form{
  max-width: 470px;
  margin: 0 auto;
  @extend .l_show-flex;
  @extend .l_justify-content--space-between;
  align-items: flex-end;
  &__email-wrap{
    position: relative;
    width: 230px;
  }
  &__email-label{
    font-weight: $weight-light;
    @include font-size(14);
    @include line-height(24,16);
    position: absolute;
    bottom: -20px;
    text-align: left;
    left: 0;
    height: 20px;
    transition: $transition-time;
  }
  &__email{
    font-weight: $weight-light;
    @include line-height(24,16);
    @include font-size(16);
    height: 37px;
    width: 100%;
    border: none;
    border-bottom: 1px solid color('red', 1);
    margin-bottom: 2px;
    outline: none;
    position: relative;
    z-index: 1;
    background: transparent;
    &.error{
      & + .news-form__email-label{
        color: color('red', 1);
      }
    }
    &.not_error{
      & + .news-form__email-label{
        color: color('green', 1);
      }
    }
  }
  &__submit{
    font-weight: $weight-bold;
    @include line-height(24,16);
  }
}