.reserv-popup,
.callback-popup{
  display: none;
  background: #fff;
  padding: 35px 80px 77px;
  border-radius: 8px;
  top: -6px;
  &:before{
    content: '';
    position: absolute;
    top: -48px;
    left: 0;
    right: 0;
    margin: 0 auto;
    height: 55px;
    width: 100%;
    background: url(../img/combined-shape.svg) top center;
    background-size: 100%;
  }
  &__title{
    @extend .t_h1;
    text-align: center;
    padding: 0 0 23px;
    margin: 0;
  }
  /*&__form{
    display: flex;
    flex-direction: column;
    &-label{
      @include font-size(16);
      margin-bottom: 20px;
    }
    &-input{
      margin-bottom: 10px;
      width: 355px;
      height: 56px;
      border-radius: 4px;
      border: 1px solid #bfbfbf;
      padding: 10px 20px;
      @include font-size(16);
      &::placeholder{
        color: #bfbfbf;
      }
    }
    &-submit{
      max-width: 235px;
      margin: 15px auto 0;
      @include font-size(16);
    }
  }*/
  &__close{}
}
.popup-close{
  position: absolute;
  top: -38px;
  right: -35px;
  width: 24px;
  height: 24px;
  cursor: pointer;
  &:after,&:before{
    content: '';
    width: 30px;
    height: 2px;
    position: absolute;
    top: 11px;
    left: -3px;
    background: color('red', 1);
  }
  &:after{
    transform: rotate(45deg);
  }
  &:before{
    transform: rotate(-45deg);
  }
}



.review-popup{
  display: none;
  background: #fff;
  padding: 35px 80px 30px;
  border-radius: 35px;

  &:before{
    content: '';
    position: absolute;
    top: -63px;
    left: 0;
    right: 0;
    margin: 0 auto;
    height: 71px;
    width: calc(100% - 16px);
    background: url(../img/combined-shape.svg) top center;
    background-size: 100%;
  }
  &__title{
    @extend .t_h1;
    text-align: center;
    padding: 0 0 23px;
    margin: 0;
  }
  &__traingle{
    //width: 0;
    //height: 0;
    //border-left: 380px solid transparent;
    //border-right: 380px solid transparent;
    //border-bottom: 60px solid #ffffff;
    //position: absolute;
    //top: -60px;
    //left: 0;
    //right: 0;
    //margin: 0 auto;

  }
  &__close{}
}