%svg-common {
	background: url("svg-sprite-168fc97b.svg") no-repeat;
}

.i-footer-logo {
	@extend %svg-common;
	background-position: 0 0;
	width: 293px;
	height: 335px;
}

.i-twitter {
	@extend %svg-common;
	background-position: 0 100%;
	width: 32px;
	height: 32px;
}

