//-----------------------------------------------------------
// BASE
//-----------------------------------------------------------
body {
	background: white;
	font-family: $HelveticaNeueBold;
	overflow-x: hidden;
}