@font-face {
  font-family: "HelveticaRegular"; // 400
  src: url("../fonts/HelveticaNeue/Regular/HelveticaNeueCyr-Roman.otf");
}
@font-face {
  font-family: "HelveticaBold"; // 700
  src: url("../fonts/HelveticaNeue/Bold/HelveticaNeueCyr-Bold.otf");
}
@font-face {
  font-family: "LucidaGrande"; // 700
  src: url("../fonts/LucidaGrande/LucidaGrande.ttf");
}

