a {
	text-decoration: none;
	color: inherit;
	transition: all $transition-time;
	outline: none;
	will-change: opacity;
}
h1,
.t_h1 {
	@include font-size(36);
	font-weight: $weight-bold;
}
h2,
.t_h2 {
	@include font-size(32);
}/*
h3,
.t_h3 {
	@include font-size(26);
}*/
h4,
.t_h4 {
	@include font-size(20);
}
h5,
.t_h5 {
	@include font-size(14);
}
h6,
.t_h6 {
	@include font-size(8);
}

.font-size-16{
	@include font-size(16);
}
.font-size-18{
	@include font-size(18);
}
.font-size-19{
	@include font-size(19);
}
.font-size-24{
	@include font-size(24);
}

.font-size-72{
	@include font-size(72);
}

.t_color--white { color: white; }
.t_color--black { color: black; }

@each $name, $color in $colors {
	@each $number, $shade in $color {
		.t_color--#{$name}-#{$number} {
			color: $shade;
		}
	}
}

.t_text-transform--uppercase { text-transform: uppercase; }
.t_text-transform--none { text-transform: none; }
.t_text-align--center { text-align: center; }
.t_text-align--left { text-align: left; }
.t_text-align--right { text-align: right; }