//-----------------------------------------------------------
// VARIABLES
//-----------------------------------------------------------

//-------------------------------------------------
// Colors

// use with color mixin. 400 is default.

// EXAMPLE:
// background: color('grey', 100);
// color: color('grey');

$colors: (
	'green': (
		1: #0a3b28
	),

	'red': (
		1: #eb5a2d
	),

	'black': (
		1: #161616
	),

	'yellow': (
		1: #efefe5 // cream
	)
);

$grad-black: linear-gradient(to top, #000000 0%, rgba(255, 255, 255, 0) 100%);
$grad-red: linear-gradient(180deg, #fe3d2c 0%, #f97562 100%);

//-------------------------------------------------
// Fonts

$Geometria: "Geometria", Geometria, Arial, sans-serif;

$weight-thin: 100;
$weight-light: 300;
$weight-regular: 400;
$weight-medium: 500;
$weight-semibold: 600;
$weight-bold: 700;
$weight-extra-bold: 800;
$weight-black: 900;

//-------------------------------------------------
// Break points

$sm: 320;
$sm-roomy: 375;
$md: 760;
$lg: 980;
$xl: 1280;
$xxl: 1400;
$xxxl: 1920;

//-------------------------------------------------
// MISC

$transition-time: 0.3s;