.contacts{
  padding: 61px 0 60px;
  .row{
    width: 100%;
    &:before,
    &:after {
      //content: " ";
      //display: table;
      //clear: both;
    }
  }
}
.contacts-desc{
  padding: 17px 57px 0 151px;
  &__title{
    color: color('black', 1);
    @include font-size(36);
    margin-bottom: 42px;
  }
  &__sec-title{
    color: color('grey', 2);
    @include font-size(14);
    margin: 34px 0 16px !important;
  }
  &__item{
    color: color('black', 1);
    @include font-size(16);
    margin-bottom: 12px;
  }
}
.form-ask{
  border-radius: 8px;
  background-color: #fff;
  padding: 35px 50px 43px;
  max-width: 605px;
  width: 100%;
  &__title{
    color: color('black', 1);
    @include font-size(20);
    text-align: center;
    margin-bottom: 42px;
  }
  &__text{
    color: #3b3a52;
    @include font-size(16);
    display: block;
    margin-bottom: 10px;
  }
  &__field{
    border-radius: 4px;
    border: 1px solid color('grey', 2);
    @include font-size(16);
    width: 100%;
    padding: 18px 19px 16px;
    margin-bottom: 21px;
    &::placeholder{
      color: #bfbfbf;
    }
    &.tarea{
      height: 94px;
    }
    &.error{
      border-color: color('red', 1);
    }
  }
  &__wrap{
    display: flex;
    justify-content: space-between;
    .form-ask__group:last-of-type{
      max-width: 48%;
    }
  }
  &__group{
    flex: 0 1 50%;
  }
  &__submit{
    max-width: 220px;
    margin: 5px auto 0;
  }
}