section.main-baner
    .main-baner__wrap-info
        p.main-baner__welcome-text=banner.subTitle
        img.main-baner__welcome-logo(src="../../../frontend/img/welcome-home.png",title="welcome home")
        p.main-baner__chain=banner.supTitle
    .main-baner__wrap-tel
        p.main-baner__tel-text=banner.telTitle
        a(href="tel:+38" + banner.tel).main-baner__tel=banner.tel