-var advantageText = ["Оптимальні планування, з можливістю перепланувань","Еколавка зі свіжими продуктами в кожному будинку","Енергозберігаючі матеріали для економії на комунальних послугах","Відеоспостереження та тривожні кнопки у всіх під*їздах"];

section.advantage
  .container
    h1.advantage__title WELCOME HOME
    p.advantage__sup-title це мережа будинків створених за стандартами комфорту
  .container
    .row
      -for(var i = 0; i < 4; i++)
        .advantage__item.col-3
          .advantage__item-img-wrap
            img.advantage__item-img(src="../../../frontend/img/advantage-"+ (i+1) +".png")
          .advantage__item-text
            p=advantageText[i]
      a.btn.btn_default.advantage__link(href="#") Читати детальніше