section.map-section
  p.map-section__title Обирай свій район
  #map

script(src="./frontend/js/google.map.js").
script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBItuYunOjZhdJsHOEt5bmfuNLkbw0FXbg&callback=init")

