-var welcomeHome = ["Welcome Home","Ергономіка","Еко-лавки","Забудовник"];
-var houses = ["Будинки","На Ревуцького","Толбухіна","Бортнічи"];
-var buy = ["Купити","Акції місяця","Пропозиції","Часті запитання"];
-var flats = ["Квартири","Ідеї комфорту","Контакти"];


footer.footer
  .container
    .row.footer__wrap
      .footer__list
        p.footer__list-title Welcome Home
        ul
          -for(var i = 1; i < welcomeHome.length; i++)
            li.footer__list-item
              a(href="#")=welcomeHome[i]

      .footer__list
        p.footer__list-title Будинки
        ul
          -for(var i = 1; i < houses.length; i++)
            li.footer__list-item
              a(href="#")=houses[i]
        a.footer__list-more(href="#")
          span Бiльше



      .footer__logo
        p.footer__logo-text ласкаво просимо додому
        a(href="tel:0442233022").footer__logo-tel 044 22 330 22
        a(href="mailto:buy@welcome-home.com.ua").footer__logo-email buy@welcome-home.com.ua


      .footer__list
        p.footer__list-title Купити
        ul
          -for(var i = 1; i < buy.length; i++)
            li.footer__list-item
              a(href="#")=buy[i]

      .footer__list
        p.footer__list-title Квартири
        ul
          -for(var i = 1; i < flats.length; i++)
            li.footer__list-item
              a(href="#")=flats[i]

    a.footer__link-up(href="#up")
      svg.footer__link-up-icon(width="8px", height="16px")
        use(xmlns:xlink="http://www.w3.org/1999/xlink", xlink:href="#arrow-black")
      | Вгору

include ./modals
include ./scripts

