- var nav = ["про нас","будинки","квартири","ідеї комфорту","купити","контакти"];


header.header

    .pre-header
        .container
            .row
                .lang-select
                    span.lang-select__selected укр
                        svg.lang-select__selected-icon(width="6px", height="6px")
                            use(xmlns:xlink="http://www.w3.org/1999/xlink", xlink:href="#arrow-black")
                    ul.lang-select__list
                        li рус
                        li en

                a.header__tel(href="tel:0442203022")
                    span.header__tel-label центральний офіс:
                    | 044 22 030 22
    .header-wrap
        .container
            .row
                //a(href="#").logo
                    svg(width="141px", height="99px")
                        use(xmlns:xlink="http://www.w3.org/1999/xlink", xlink:href="#logo")
                a(href="#").header__logo.i-logo
                nav.nav
                    ul.nav__list
                        each item in nav
                            li.nav__list-item
                                a(href="#")=item
                .register-look
                    a.link_underline.review-popup_open(href="#") Записатись на перегляд


