script(src="../../../frontend/js/libs.min.js")
script(src="../../../frontend/js/google.map.js")
script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjVEEBEpvz7FAhGRHiMuTmQKy7SNTcXlE&callback=initMap")
script(src="../../../frontend/js/core.min.js")

