


extends layout
block link
    -var activePage = 'home';
block content
    h1 index page
    span This is Node.js API, with data in MongoDB

    br
    br
    //span=elem
    //span=homeModel
    br
    br
    ul
        - for(var i = 0; i < doc.length -1; i++)
            li=doc[i].age
        //for item, i in elem
            if(i != '_id')
                li=item


    br
    br
    br
    br
    form(action="#", method="")
        input(type="text")
        input(type="submit",value="submit")
