section.contacts

   .container
      include ../global/callback-button

      .row
         address.contacts-desc
            h1.contacts-desc__title Контакти
            ul.contacts-desc__list
               li.contacts-desc__item
                  p.contacts-desc__sec-title ЦЕНТРАЛЬНИЙ ОФІС
               li.contacts-desc__item
                  p Київ, просп. Відрадний, 103
               li.contacts-desc__item
                  a(href="tel:0442203022") (044) 22 030
               li.contacts-desc__item
                  a(href="mailto:buy@welcome-home.com.ua") buy@welcome-home.com.ua
            ul.contacts-desc__list
               li.contacts-desc__item
                  p.contacts-desc__sec-title ГРАФІК РОБОТИ
               li.contacts-desc__item
                  p ПН - ПТ: 8.00 - 17.00
               li.contacts-desc__item
                  p СБ - НД: вихідний
            ul.contacts-desc__wrap
               li.contacts-desc__item
                  p.contacts-desc__sec-title КОМЕРЦІЙНА НЕРУХОМІСТЬ
               .contacts-desc__item
                  a(href="tel:0442203022") (044) 22 030 22
               .contacts-desc__item
                  a(href="mailto:commercial@welcome-home.com.ua") commercial@welcome-home.com.ua

         form.form-ask
            h4.form-ask__title Залишились питання?
            .form-ask__wrap
               .form-ask__group
                  label.form-ask__text(for="ask-name") Введіть ваше ім’я
                  input.form-ask__field.required#ask-name(type="text", name="name", placeholder="Ім’я")
               .form-ask__group
                  label.form-ask__text(for="ask-email") Введіть ваш email
                  input.form-ask__field.required#ask-email(type="email", name="email", placeholder="name@mail.com")
            .form-ask__group
               label.form-ask__text(for="ask-text") Введіть ваше питання
               textarea.form-ask__field.tarea.required#ask-text(name="text", placeholder="Хочу дізнатись")
               input.form-ask__submit.btn.btn_red(type="submit",value="Відправити")