.contacts-map
	h2.contacts-map__title Наші відділи продажів
	#map

script(src="./js/google.map.js").
script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBItuYunOjZhdJsHOEt5bmfuNLkbw0FXbg&callback=init")