section
  .container
    .row
      .tabs.info-tabs
        ul.tabs__caption.info-tabs__caption
          li.info-tabs__caption-item.active Переваги
          li.info-tabs__caption-item Про квартири
          li.info-tabs__caption-item Про будинок

        .tabs__content.info-tabs__content.active
          .info-house
            ul.info-house__list
              li.info-house__list-item 700 метрів до метро
              li.info-house__list-item Поруч озеро
              li.info-house__list-item Супермаркет та інша інфрастуктура
              li.info-house__list-item Дитячий майданчик
              li.info-house__list-item Підготовка під чистове оздоблення
            .info-house__metro
              p.info-house__metro-item
                span.metro Харьківська
                span.info-house__metro-distance 700 м
              p.info-house__metro-item
                span.metro Позняки
                span.info-house__metro-distance 1700 м
          .info-btns
            a(href="#").btn.btn_red.btn_medium Обрати квартиру
            a(href="#").link_underline Записатись на перегляд



        .tabs__content.info-tabs__content
          .info-house
            ul.info-house__list
              li.info-house__list-item Міжквартирні перегородки з/б – 160 мм
              li.info-house__list-item Міжкімнатні гіпсокартонні перегородки 75 мм
              li.info-house__list-item Перегородки санвузлів з/б – 80 мм
              li.info-house__list-item Висота стелі – 2,65 м
              li.info-house__list-item Металеві посилені двері, з МДФ накладками
              li.info-house__list-item Двокамерні енерогозберігаючі склопакети вікон та балконних дверей
              li.info-house__list-item Балкони засклені від підлоги до стелі однокамерними склопакетами
              li.info-house__list-item Поквартирні лічильники електроенергіі тепла, холодної та гарячої води
              li.info-house__list-item Сталеві радіатори з регулятором
          .info-btns
            a(href="#").btn.btn_red.btn_medium Обрати квартиру
            a(href="#").link_underline Записатись на перегляд

        .tabs__content.info-tabs__content
          .info-house
            ul.info-house__list
              li.info-house__list-item Теплові пункти в кожній секції
              li.info-house__list-item Трансформаторна та насосна станції
              li.info-house__list-item Ліфти на секцію: два пасажирські – 630 кг,
              li.info-house__list-item вантажопасажирський – 1000 кг
              li.info-house__list-item Зовнішні стіни: збірні залізобетонні конструкції – 160 мм, утеплені пінополісти- рольною плитою – 150 мм
              li.info-house__list-item Домофони у вхідних групах
              li.info-house__list-item Кількість квартир: Будинок №1 перша секція – 182, друга секція – 175,
              li.info-house__list-item Будинок №2 – 260
          .info-btns
            a(href="#").btn.btn_red.btn_medium Обрати квартиру
            a(href="#").link_underline.review-popup_open Записатись на перегляд