section.house-map
  p.house-map__title Інфраструктура
  #map

script(src="./js/google.map.js").
script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBItuYunOjZhdJsHOEt5bmfuNLkbw0FXbg&callback=init")