
////////////////////////////////////////////////////////////
// in 006-select-flat.jade
////////////////////////////////////////////////////////////

//-
  table = {
    th : ['№ квартири', 'Кімнат', 'Площа', 'Секція', 'Поверх', 'Ціна', 'Статус', ''],

    1 : ['WH-R-124', 'Студія', '52,67 м²', '3', '3', '720 340 грн', 'У продажу', ''],
    2 : ['WH-R-123', 'Студія', '52,67 м²', '4', '6', '720 340 грн', 'У продажу', ''],
    3 : ['WH-R-125', '3 кімнати', '80 м²', '2', '4', '869 033 грн', 'У продажу', ''],
    4 : ['WH-R-126', '2 кімнати', '67,5 м²', '2', '6', '567 300 грн', 'У продажу', ''],
    5 : ['WH-R-121', '2 кімнати', '67,5 м²', '4', '3', '567 300 грн', 'Заброньовано', ''],
    6 : ['WH-R-129', 'Студія', '83,8 м²', '3', '3', '1 090 450 грн', 'У продажу', ''],
    7 : ['WH-R-121', '3 кімнати', '52,67 м²', '4', '2', '720 340 грн', 'Заброньовано', ''],
    8 : ['WH-R-131', '3 кімнати', '80 м²', '3', '5', '869 033 грн', 'У продажу', ''],
    9 : ['WH-R-133', 'Студія', '52,67 м²', '1', '9', '720 340 грн', 'У продажу', ''],
  }

//.result-filter
  .container
    .row
      .result-filter__wrap
        table.result-filter__table
          thead
            tr
              each th in table.th
                th=th
          tbody
            -for(var i = 1; i < 10; i++)
              tr
                each td,j in table[i]
                  if(j == 6)
                    td
                      if(i == 7 || i == 5)
                        span.booked=td
                      else
                        span.on-sale=td
                  else if(j == 7)
                    td
                      a(href="#").i-arrow-right
                  else
                    td=td

        a(href="#").btn.btn_default.result-filter__btn-more Показати ще 10
