- var title = ["це мережа, будинків створених за стандартами комфорту","Продумані планування, в яких легко дихати та комфортно жити","Відеонагляд та закрита територія для вашої безпеки і спокійного сну","Власна експлуатаційна компанія, щоб завжди було чисто, світло та охайно"]
- var text = ["На основні багаторічного досвіду, інженерних ідей та відгуків клієнтів, ми сформували базовий набір переваг, необхідний для зручного життя. Це стандарти комфорту, які ви гарантовано отримуєте в кожному будинку Welcome Home.","У Welcome Home мінімальна площа квартири – 36м2. А одна з кімнат завжди більша за 17м2, навіть в однокімнатній квартирі. Адже для комфортного життя потрібен простір, а смарт – це про телефони. В наших плануваннях всі кути прямі, а кімнати чотирикутні, що дозволяє ефективно використовувати всю площу.","Сон кращий коли почуваєшся в безпеці, тому кожен під’їзд будинку обладнано камерами відеонагляду. Також для вашого спокою вся територія, разом з дитячим майданчиком, закрита для сторонніх.","Власна експлуатаційна компанія оперативно вирішує питання тільки вашого будинку, а не займається цілим районом. Вона є частиною Welcome Home, підтримує її цінності, стандарти та репутацію забудовника, який продовжує зводити будинки мережі."]

section.about-banner

	.container
		include ../global/callback-button

		- for( var i = 0; i < title.length; i++)
			.row.about-banner__wrap
				.about-banner__desc
					if(i == 0)
						h1.about-banner__top-title WELCOME HOME
					h2.about-banner__title
						=title[i]
					p.about-banner__text
						=text[i]
					if(i == 1)
						button.about-banner__btn.btn Вибрати квартиру
					if(i == 3)
						button.about-banner__btn.btn Обрати будинок
					img(src="img/about-home/img-" + [i + 1] + ".png", alt="img").about-banner__img

