.header{
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 100;
  background: #ffffff;

  min-width: 1200px !important;
  &__logo{
    margin: 0 0 20px;
  }
  &__tel{
    &-label{
      color: color('grey', 1);
      @include font-size(12);
      margin-right: 10px;
    }
  }
}

.pre-header{
  background-color: #f8f4ed;
  padding: 11px 0;
  height: 40px;
  @include font-size(14);
  .row{
    justify-content: flex-end;
  }
}

.lang-select{
  margin-right: 37px;
  cursor: pointer;
  color: color('grey', 1);
  position: relative;
  &__selected{
    @include font-size(12);
    &-icon{
      transform: rotate(90deg);
    }
  }
  &__list{
    @include font-size(12);
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
  }

  &:hover{
    .lang-select{
      &__selected-icon{
        transform: rotate(-90deg);
      }
      &__list{
        display: block;
      }
    }
  }
}

.header-wrap{
  .row{
    align-items: center;
    justify-content: space-between;
    height: 60px;
  }
}

.nav{
  padding-left: 110px;
  &__list{
    display: flex;
    &-item{
      @include font-size(16);
      margin-left: 38px;
      transition: opacity $transition-time;
      &:hover{
        opacity: .7;
      }
    }
  }
}

.register-look{
  @include font-size(16);
}