section.not-found

	.container
		.row
			.col-md-5
				img(src="img/dog-404.png", alt="404").not-found__img
			.col-md-7.not-found__desc
				p.not-found__title 404
				p.not-found__text Сторінка, яку ви шукаєте, не знайдена. Радимо повернутися на головну.
				a(href="/").not-found__btn.btn.btn_red Головна