.main-banner{
  background: url("../img/main-banner_bg.png") no-repeat center center;
  background-size: cover;
  min-height: 715px;
  &__title{
    max-width: 650px;
    margin: 0 auto;
    color: #ffffff;
    font-weight: $weight-bold;
    @extend .t_text-align--center;
    @extend .font-size-72;
    padding: 90px 0 70px;
    line-height: 1.2;
  }
  &__watch{
    max-width: 205px;
    margin: 0 auto;
    color: #ffffff;
    font-weight: $weight-bold;
    @extend .t_text-align--center;
    &:hover .main-banner__watch-icon{
      background: #eb5a2d;
      &:after{
        border-left: 21px solid #ffffff;
      }
    }
  }
  &__watch-icon{
    margin: 0 auto;
  }
}