.news-slider{
  max-width: 720px;
  width: 100%;
  transition: opacity $transition-time;
  margin: 0 auto;
  //top: -127px;
  &.slick-initialized{
    opacity: 1;
  }
  &-section{
    .container{
      padding: 0;
    }
  }
  &-wrap{
    width: 100%;
    height: 345px;
    position: relative;
    background: #ffffff;
    box-shadow: 0 20px 50px #ebe4d6;
    border-radius: 8px;
    margin: 0 auto -127px;
    top: -127px;
  }
  &__item{
    &-wrap{
      @extend .l_show-flex;
      justify-content: space-between;
      padding: 20px 0 60px;
    }
    &-img{
      max-width: 50%;
    }
    &-text{
      max-width: 45%;
      padding: 42px 20px 0;
      flex: 0 1 45%
    }
    &-title{
      @extend .t_h1;
      line-height: 1.5;
      //@include font-size(36);
      //font-weight: $weight-bold;
    }
  }
  .slick-dots{
    position: absolute;
    left: 58%;
    bottom: 110px;
  }
  .slick-arrow{
    &.slick-prev{
      left: -150px;
    }
    &.slick-next {
      right: -150px;
    }
  }
  &__link-all{
    position: absolute;
    left: 58%;
    bottom: 60px;
    @include font-size(18);
  }
}



.ribbon{
  text-align: center;
  transform: rotate(-45deg);
  transform-origin: 250px 142px;
  position: relative;
  padding: 9px 0;
  left: 0;
  top: 0;
  width: 351px;
  background-color: color('red', 1);
  color: #ffffff;
  text-indent: -10px;
  &-wrapper{
    width: 356px;
    height: 355px;
    overflow: hidden;
    position: absolute;
    top: -18px;
    left: -20px;
  }
  &:before, &:after {
    content: "";
    border-top: 24px solid #b5593d;
    border-left: 0px solid transparent;
    border-right: 24px solid transparent;
    position: absolute;
    bottom: -24px;
  }
  &:before {
    left: 0;
  }
  &:after {
    right: 0;
    transform: rotate(90deg);
  }
}



