.callback{
  padding: 50px 0;
  @extend .t_text-align--center;
  &__title{
    @extend .t_h1;
  }
  &__text{
    padding: 20px 0;
    p{
      margin: 0;
    }
    .link{
      font-weight: $weight-medium;
    }
  }
  &__img{
    margin: 20px auto;
    position: relative;
    right: 30px;
  }
  &__btn{
    margin: 0 auto;
  }
}