section.follow
  .container
    p.follow__title Залишайся в курсі
    p.follow__sub-title Дізнайтеся першими про старти нових черг, спеціальні пропозиції та інші новини від Welcome Home
    form.follow-form(action="#")
      input.follow-form__email(type="email",placeholder="Введіть вашу електронну пошту")
      input.follow-form__submit.link_underline(type="submit",value="Пiдписатися")