script(src="./js/libs.min.js")
script(src="./js/google.map.js")
script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjVEEBEpvz7FAhGRHiMuTmQKy7SNTcXlE&callback=initMap")
script(src="./js/core.min.js")

