.houses{
  padding: 67px 0 0;
  .container{
    padding: 0 5px;
  }

  &__title{
    text-align: center;
    padding: 15px 0;
  }
}

.house-card{
  border-radius: 8px;
  background-color: #ffffff;
  position: relative;
  margin-bottom: 10px;
  &-wrap{
    flex: 0 0 50%;
    max-width: 50%;
    padding: 0 10px;
    width: 100%;
    position: relative;
  }

  &__img-wrap{
    position: relative;
    height: 290px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }
  &__img{
    max-width: 100%;
  }

  &__title-wrap{
    position: absolute;
    bottom: 0;
    left: 0;
    color: #ffffff;
    max-width: 410px;
    padding: 0 20px 20px 50px;
  }
  &__sup-title{
    @include font-size(16);
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    margin: 0px;
  }
  &__title{
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    @extend .t_h1;
    margin: 8px 0 0;
    line-height: 1;
    display: block;
  }

  &__descript-wrap{
    padding: 15px 35px 45px 40px;
  }
  &__descript{
    display: flex;
    justify-content: space-between;
    margin-bottom: 55px;
    &-col{
      padding: 0;
      color: #000;
      &:first-of-type{
        flex: 0 1 30%;
      }
    }
    p{
      margin: 0;
    }
  }
  &__label{
    color: #bfbfbf;
    @include font-size(14);
    text-transform: uppercase;
    padding-top: 15px;
  }

  &__metro{
    @include font-size(16);
    padding-top: 10px;
  }

}




