doctype html
html(lang="en")
	head
		include ./partials/global/head
	body
		include ./partials/global/sprite

		include ./partials/global/header

		.global-wrap

			include partials/404/404


		include ./partials/global/footer


