- var page = 'home';

doctype html
html(lang="en")
  head
    include ./partials/global/head
  body
    include ./partials/global/sprite

    include ./partials/global/header

    .global-wrap

      include partials/houses/001-houses-tab
      +callback('Дізнайтесь більше')
      include partials/global/follow

    include ./partials/global/footer
    script(src="./js/google.map.js").
    script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBItuYunOjZhdJsHOEt5bmfuNLkbw0FXbg&callback=init")


