- var page = 'home';

doctype html
html(lang="en")
    head
        include ./partials/global/head
    body
        include ./partials/global/sprite
        include ./partials/global/header

        include ./partials/home/001-section
        include ./partials/home/002-slider
        include ./partials/home/003-map
        include ./partials/home/004-info&form


        include ./partials/global/footer

