- var page = 'home';

doctype html
html(lang="en")
    head
        include ./partials/global/head
    body
        include ./partials/global/sprite

        include ./partials/global/header

        include ./partials/home/001-hero


        include ./partials/global/footer

