.info-section{
  padding: 75px 0 0;
  &__title{
    text-align: center;
  }
  &__sub-title-block{
    display: flex;
    justify-content: center;
    padding: 27px 0 30px;
    @include font-size(24);
    .link_underline{
      margin-left: 25px;
    }
    p{
      margin: 0 10px;
    }
  }
  &__offers{
    display: flex;
    justify-content: center;
  }
}

.house-slider{
  margin: 60px 0 0;
  width: 100%;
  background: #ffffff;
  position: relative;
  &__for{
    width: 100%;
    margin: 0 0 27px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    overflow: hidden;
    &-item{
      height: 570px;
    }
  }
  &__nav{
    width: 400px;
    margin: 0 auto 30px;
    &-item{
      margin: 0 7px;
      height: 75px;
      position: relative;
      &:after{
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        background-color: #4a4a4a;
        opacity: 0.46;
        z-index: 1;
        position: absolute;
        left: 0;
        top: 0;
        transition: opacity $transition-time;
      }
      &.slick-current{
        &:after{
          opacity: 0;
        }
      }
      img{
        width: 100%;
      }
    }

    .slick-arrow{
      &.slick-prev{
        left: -300px;
      }
      &.slick-next{
        right: -300px;
      }
    }
  }
}


/*.house-slider-for{
  width: 100%;
  img{
    max-width: 100%;
  }
}
.house-slider-nav{
  width: 400px;
  margin: 0 auto;
  .slick-arrow{
    &.slick-prev{
      left: -250px;
    }
    &.slick-next{
      right: -250px;
    }
  }
  &__item{
    padding: 0 7px;
  }
  img{
    width: 100%;
  }
}*/