.result-planning{
  //box-shadow: 0 20px 50px #ebe4d6;
  //border-radius: 8px;
}
.planning{
  background: #ffffff;
  padding: 47px 104px 13px;
  position: relative;
  &:not(:last-child){
    &:before{
      content: '';
      height: 1px;
      max-width: 994px;
      width: 100%;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      margin: 0 auto;
      background-color: #eee8db;
    }
  }
  &__wrap-img{
    overflow: hidden;
  }
  &__img{
    max-width: 100%;
    margin: 0 auto;
  }
  .ribbon-wrapper{
    top: -66px;
    left: -124px;
  }
  &-settings{
    display: flex;
    max-width: 440px;
    &__wrap{
      flex: 0 1 33.3%;
      max-width: 33.3%;
    }
    &__title {
      color: color('grey', 2);
      @include font-size(10);
      font-weight: 500;
      margin: 0;
    }
    &__text{
      color: color('black', 1);
      @include font-size(20);
      font-weight: 500;
      margin: 0;
      white-space: nowrap;
    }
    &__sale{
      color: color('red', 1);
    }
    &__old{
      color: #3b3a52;
      font-size: 10px;
      font-weight: 500;
      text-decoration: line-through;
      display: block;
      margin: 2px 0 -13px;
    }
    &__arrow-left{
      transform: rotate(180deg) translateY(1px);
      margin-right: 5px;
    }
    &__arrow-left,
    &__arrow-right{
      position: relative;
      z-index: 1;
      svg{
        position: relative;
        z-index: -1;
      }
    }
    &_number{
      display: inline-block;
      width: 22px;
      text-align: center;
    }
  }
}
.desc-planning{
  padding-left: 38px;
  &__status {
    color: #3b3a52;
    @include font-size(14);
    font-weight: 500;
    margin-bottom: -1px;
    &:before{
      height: 6px !important;
      width: 6px !important;
    }
  }
  &__title{
    color: color('black', 1);
    @include font-size(36);
    font-weight: 700;
    margin: 0;
  }
  &__address{
    color: #3b3a52;
    @include font-size(18);
    font-weight: 500;
    margin: 4px 0 15px;
  }
  &__group{
    display: flex;
    margin-top: 34px;
  }
  .btn{
    height: 34px;
    font-size: 16px;
    font-weight: 500;
  }
  &__btn{
    max-width: 146px;
    margin-right: 8px;
    &-reserve{
      max-width: 188px;
    }
  }
}

