.commerce{
  margin: 75px 0 40px;
  &>.container{
    background: #ffffff;
  }
  &__title-block{
    width: 100%;
    background: #ffffff;
    position: relative;
    cursor: pointer;
    padding: 35px 0;
  }
  &__title{
    @extend .t_h1;
    text-align: center;
    margin: 0;
  }
  &__filter-wrap{
    display: none;
    width: 100%;
  }


  .select-flat{
    border-radius: 0;
  }
  &__title-icon{
    position: absolute;
    right: 55px;
    top: 47px;
    cursor: pointer;
    transition: transform $transition-time;
    &.open{
      transform: rotate(180deg);
    }
  }

  .tabs-red{
    &__caption{
      margin: 0 auto 7px;
    }
    &__content{
      margin: 0;
    }
  }
}