.other-house{
  padding: 45px 0 40px;
  &__title{
    @extend .t_h1;
    text-align: center;
    margin: 0;
  }
}

.three-slides{
  margin: 10px auto 0;
  max-width: 1060px;
  &__item{
    position: relative;
  }
  &__img{
    width: 100%;
    &-wrap{
      max-width: 293px;
      height: 300px;
      margin: 0 auto;
      display: flex;
      align-items: flex-end;
    }
  }
  &__text{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 25px;
    width: 70%;
    padding: 0 15px;
    margin: 0 auto;
    text-align: center;
    color: #ffffff;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    @include font-size(24);
    font-weight: $weight-bold;
  }
  .slick-arrow{
    &.slick-next{
      right: -10px;
    }
    &.slick-prev{
      left: -10px;
    }
  }
}