-var advantageText = ["Оптимальні планування, з можливістю перепланувань","Еколавка зі свіжими продуктами в кожному будинку","Енергозберігаючі матеріали для економії на комунальних послугах","Відеоспостереження та тривожні кнопки у всіх під*їздах"];

section.advantage
  .container
    .row
      -for(var i = 0; i < 4; i++)
        .advantage__item.col-3
          .advantage__item-img-wrap
            img.advantage__item-img(src="img/advantage-"+ (i+1) +".png")
          .advantage__item-text
            p=advantageText[i]
      a.btn.btn_auto.advantage__link(href="#") Детальніше про стандарти комфорту