-
  table = {
  th : ['Статус',      'Кімнат',    'Площа',    'Будинок', 'Секція', 'Поверх',  'Ціна',          ''],

  1 : ['У продажу',    'Студія',    '52,67 м²', '3',        '3',     '15',      '720 340 грн',   ''],
  2 : ['Заброньовано', '3 кімнати', '52,67 м²', '1',        '4',     '17',      '920 340 грн',   ''],
  3 : ['У продажу',    '3 кімнати', '80 м²',    '2',        '4',     '15',      '869 033 грн',   ''],
  4 : ['Заброньовано', '3 кімнати', '52,67 м²', '1',        '4',     '17',      '920 340 грн',   ''],
  5 : ['У продажу',    '2 кімнати', '67,5 м²',  '4',        '3',     '15',      '567 300 грн',   ''],
  6 : ['Заброньовано', '3 кімнати', '52,67 м²', '1',        '4',     '17',      '920 340 грн',   ''],
  7 : ['У продажу',    '3 кімнати', '83,8 м²',  '3',        '3',     '15',      '1 090 450 грн', ''],
  8 : ['Заброньовано', '3 кімнати', '52,67 м²', '1',        '4',     '17',      '920 340 грн',   ''],
  9 : ['У продажу',    '3 кімнати', '80 м²',    '3',        '5',     '15',      '869 033 грн',   ''],
  10 : ['Заброньовано','3 кімнати', '52,67 м²', '1',        '4',     '17',      '920 340 грн',   ''],
  }

include ../global/mixins

section.select-flat-block
  .container
    p.select-flat-block__title Виберіть квартиру
    .row
      .tabs.tabs-red
        ul.tabs__caption.tabs-red__caption
          li.tabs-red__caption-item.active Список
          li.tabs-red__caption-item Планування

        .tabs__content.tabs-red__content.select-flat-block__list.active
          +selectFlat
          .result-filter
            .container
              .row
                .result-filter__wrap
                  table.result-filter__table
                    thead
                      tr
                        each th in table.th
                          th=th
                    tbody
                      -for(var i = 1; i <= 10; i++)
                        tr
                          each td,j in table[i]
                            if(j == 0)
                              td
                                if(i%2 == 0)
                                  span.booked=td
                                else
                                  span.on-sale=td
                            else if(j == 7)
                              td
                                a(href="#").i-arrow-right
                            else
                              td=td

                  a(href="#").btn.btn_default.result-filter__btn-more Показати ще 10

        .tabs__content.tabs-red__content.select-flat-block__plan
          +selectFlat(false, false, false, true)
          .result-planning
            .container
              -for( var i=0 ; i < 4; i++)
                .row.planning
                  .col-5
                    if i == 2
                      .ribbon-wrapper
                        .ribbon Акція
                    .planning__wrap-img
                      img(src="./img/house/planning.jpg",alt="planning").planning__img
                  .col-7.desc-planning
                    if i == 1
                      p.desc-planning__status.booked Заброньовано
                      p.desc-planning__title 1-кімнатна квартира
                    else
                      p.desc-planning__status.on-sale У продажу
                      p.desc-planning__title Квартира студія
                    p.desc-planning__address Welcome Home на Ревуцького
                    .planning-settings
                      .planning-settings__wrap
                        p.planning-settings__title ПЛОЩА
                        p.planning-settings__text 27,73 м²
                      .planning-settings__wrap
                        p.planning-settings__title ПОВЕРХ
                        p.planning-settings__text
                          button.planning-settings__arrow-left
                            svg(width="8px", height="16px")
                              use(xmlns:xlink="http://www.w3.org/1999/xlink", xlink:href="#arrow-black")
                          span.planning-settings_number 5
                          button.planning-settings__arrow-right
                            svg(width="8px", height="16px")
                              use(xmlns:xlink="http://www.w3.org/1999/xlink", xlink:href="#arrow-black")
                      .planning-settings__wrap
                        p.planning-settings__title ВАРТІСТЬ
                        if i == 2
                          p.planning-settings__text.discount
                            span.planning-settings__sale 720 340 грн
                            span.planning-settings__old 720 340 грн
                        else
                          p.planning-settings__text
                            span 720 340 грн

                    .desc-planning__group
                      a(href="#").desc-planning__btn.btn.btn_red Детальніше
                      a(href="#").desc-planning__btn-reserve.btn.reserv-popup_open Забронювати


