-var slideText = ['ЖК Берген','ЖК на Толбухіна','Будинок на Майорова, 6','ЖК Берген','ЖК на Толбухіна','Будинок на Майорова, 6'];

section.other-house
  .container
    p.other-house__title Інші будинки
    .three-slides
      -for(var i = 1; i < 5; i++)
        if(i == 4)
          .three-slides__item
            .three-slides__img-wrap
              img.three-slides__img(src="img/house/other-house-2.png")
            p.three-slides__text=slideText[1]
        else
          .three-slides__item
            .three-slides__img-wrap
              img.three-slides__img(src="img/house/other-house-" + i + ".png")
            p.three-slides__text=slideText[i-1]