section.main-baner
    .main-baner__wrap-info
        p.main-baner__welcome-text ласкаво просимо додому!
        img.main-baner__welcome-logo(src="img/welcome-home.png",title="welcome home")
        p.main-baner__chain мережа будинків за стандартами комфорту
    .main-baner__wrap-tel
        p.main-baner__tel-text центральний офіс продажів
        p.main-baner__tel (044) 33 99 677