section.hero-wrap
    .container
        .row
            .col-8.hero-wrap__lc
                img(src='#').hero-wrap__img

            .col-4.hero-wrap__rc
                h1.hero-wrap__title ProCredit Bank Direct, the Bank made simple.
                p.hero-wrap__text The first German Bank in Eastern Europe goes digital. Safe and convenient banking in 13 countries and your direct link to Europe.
                a(href='#').hero-wrap__btn Open Your Account

