section.news-slider-section
  .container
    include ../global/callback-button
    div
      .news-slider-wrap
        .news-slider
          - for(var i = 0; i < 4; i++)
            .news-slider__item
              .news-slider__item-wrap
                img.news-slider__item-img(src="img/news-slide.png")
                .news-slider__item-text
                  p.news-slider__item-title Нові поверхи на Ревуцького
                    if i>0
                      =" " + (i + 1)
          a.news-slider__link-all.link_underline(href="#") Переглянути всі
        .ribbon-wrapper
          .ribbon Акції та новини