section.why
  .container
    .why__row
      p.why__title Чому Welcome Home
      .why-slider
        -for(var i = 0; i < 4; i++)
          .why-slider__item
            .why-slider__item-descript
              p Надійність забудовника
              p.why-slider__item-title Забудовник Фундамент працює в Києві з 1961 року
            img.why-slider__item-img(src="img/why-slide-1.png")