.not-found{
  padding: 107px 0 100px;
  &__img{
    margin: 0 0 0 auto;
  }
  &__title{
    color: color('black', 1);
    @include font-size(72);
    font-weight: 700;
    margin: 33px 0 0 !important;
  }
  &__text{
    color: color('black', 1);
    @include font-size(20);
    line-height: 1.5;
    margin: 0;
    max-width: 400px;
  }
  &__desc{
    padding-left: 54px;
  }
  &__btn{
    margin-top: 41px;
    max-width: 210px;
    height: 56px;
  }
}